@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  max-width: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: left;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: #121212; 
}
::-webkit-scrollbar-thumb {
  background: #D4AF37; 
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #996515; 
}

body {
  @apply bg-gn-black text-gray-200 place-items-stretch;
  margin: 0;
}
